{% style %}
.sticky-parent{
  height: 700vh;
}
.sticky{
  position: sticky;
  top: 0px;
  max-height: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;
}
.dim{
  display: block;
  min-width: 50vw;
  height: 100vh;
}
.horizontal{
  display: flex;
}
.br{
  outline: solid;
}

@media (max-width: 620px) {
  .dim{
    display: block;
    min-width: 100vw;
    height: 100vh;
  }
}

h2.section-title{
  font-size: 50px;
  text-align: center;
}
  {% endstyle %}

    <div style="height: 10vh; width: 100vw;" class="">
        <h2 class="section-title"> Scroll </h2>
      </div> <!--Just extra div for scrolling space-->
      
      
        <div class="sticky-parent">
          <div class="sticky">
            <div class="horizontal"> <!--Horizantal conatiner with display flex-->
      
              <!--Content Start-->
              <div class="dim" style="background-color: aqua;">Products</div>
              <div class="dim" style="background-color: rgb(255, 238, 0);">Products</div>
              <div class="dim" style="background-color: rgb(81, 255, 0);">Products</div>
              <div class="dim" style="background-color: rgb(247, 0, 255);">Products</div>
              <div class="dim" style="background-color: rgb(27, 24, 179);">Products</div>
              <div class="dim" style="background-color:black">Products</div>
              <!--Content End-->
      
            </div>
          </div>
        </div>
        <div style="height: 100vh; width: 100vw;""></div> <!--Extra Scroll Space-->



{% schema %}
  {
    "name": "All New Collection",
    "settings": [],
    "presets": [
      {
        "name": "All New Collection"
      }
    ]
  }
{% endschema %}
{% javascript %}
"use strict"

// Adding scroll event listener
document.addEventListener('scroll', horizontalScroll);

//Selecting Elements
let sticky = document.querySelector('.sticky');
let stickyParent = document.querySelector('.sticky-parent');

let scrollWidth = sticky.scrollWidth;
let verticalScrollHeight = stickyParent.getBoundingClientRect().height-sticky.getBoundingClientRect().height;

//Scroll function 
function horizontalScroll(){

    //Checking whether the sticky element has entered into view or not
    let stickyPosition = sticky.getBoundingClientRect().top;
    if(stickyPosition > 1){
        return;
    }else{
        let scrolled = stickyParent.getBoundingClientRect().top; //how much is scrolled?
        sticky.scrollLeft =(scrollWidth/verticalScrollHeight)*(-scrolled)*0.85;
    
    }
}
  {% endjavascript %}