<div class="banner-video" id="banner_video_area">
      <div class="banner-video-wrapper">
        <video playsinline="playsinline" autoplay="autoplay" loop="loop" loading="eager" preload="auto" muted="muted" poster="//sweatandtonic.com/cdn/shop/files/preview_images/15a4c8afa00149c9b117f6d2f7c9deb7.thumbnail.0000000000_1400x.jpg?v=1702493185"><source src="//sweatandtonic.com/cdn/shop/videos/c/vp/15a4c8afa00149c9b117f6d2f7c9deb7/15a4c8afa00149c9b117f6d2f7c9deb7.HD-1080p-7.2Mbps-21932827.mp4?v=0" type="video/mp4"><img src="//sweatandtonic.com/cdn/shop/files/preview_images/15a4c8afa00149c9b117f6d2f7c9deb7.thumbnail.0000000000_1400x.jpg?v=1702493185"></video>
      </div>
      <div class="banner-content-wrapper">
        <div class="bv-headline">
          <h1>SWEAT. RECOVER.
            CONNECT.</h1>
            <a href="#" class="join-us btn btn-outline-light">Join Us</a>
        </div>
        <div class="bv-bottom-content">
          <div class="bv-bottom-left">
            <h2>TORONTO’S PREMIUM BOUTIQUE FITNESS & WELLNESS EXPERIENCE</h2>
          </div>
          <div class="bv-bottom-right">
            <ul>
              <li><a href="#"> FITNESS <span class="icon-wrap"><svg xmlns="http://www.w3.org/2000/svg" width="14" height="11" viewBox="0 0 14 11" fill="none">
  <path d="M8 1.5L12 5.5M12 5.5L8 9.5M12 5.5L0 5.5" stroke="CurrentColor" stroke-width="1.5"></path>
</svg></span> </a></li>
              <li><a href="#"> WELLNESS & RECOVERY <span class="icon-wrap"><svg xmlns="http://www.w3.org/2000/svg" width="14" height="11" viewBox="0 0 14 11" fill="none">
  <path d="M8 1.5L12 5.5M12 5.5L8 9.5M12 5.5L0 5.5" stroke="CurrentColor" stroke-width="1.5"></path>
</svg></span> </a></li>
              <li><a href="#"> TONIC HOUSE <span class="icon-wrap"><svg xmlns="http://www.w3.org/2000/svg" width="14" height="11" viewBox="0 0 14 11" fill="none">
  <path d="M8 1.5L12 5.5M12 5.5L8 9.5M12 5.5L0 5.5" stroke="CurrentColor" stroke-width="1.5"></path>
</svg></span> </a></li>
              <li><a href="#"> CAFÉ & BAR <span class="icon-wrap"><svg xmlns="http://www.w3.org/2000/svg" width="14" height="11" viewBox="0 0 14 11" fill="none">
  <path d="M8 1.5L12 5.5M12 5.5L8 9.5M12 5.5L0 5.5" stroke="CurrentColor" stroke-width="1.5"></path>
</svg></span> </a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>



    <div class="fitness_classes_sec">
     <div class="fitness__overlayer"></div>
      <div class="fitness__inner-container">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-6 fitness__left-col">
            <div class="fitness__left-inner">
              <span>SWEAT IT OUT</span>
              <h2>420+ FITNESS CLASSES WEEKLY ACROSS 2 CLUBS</h2>
              <p>Canada’s largest selection of workout classes, all under one roof. Explore our weekly schedule of Yoga, Pilates, HIIT & Ride classes.</p>
            <a href="#" class="btn btn-light">SEE SCHEDULE</a>
            </div>
          </div>
          <div class="col-md-6 fitness__right-col">
            <div class="fitness__right-child-col fitness__right-child-col-1">
              <h3>YOGA & PILATES</h3>
              <p> Inhale. Exhale. Here we flow.</p>
              <a href="#" class="btn btn-link-light"> <span class="titleoffitness">YOGA & PILATES</span> <span class="learnmore">LEARN MORE </span><svg xmlns="http://www.w3.org/2000/svg" width="14" height="11" viewBox="0 0 14 11" fill="none">
                <path d="M8 1.5L12 5.5M12 5.5L8 9.5M12 5.5L0 5.5" stroke="CurrentColor" stroke-width="1.5"></path>
              </svg></a>
            </div>
            <div class="fitness__right-child-col fitness__right-child-col-2">
              <h3>HIIT</h3>
              <p> HIIT your peak performance with high intensity strength training & conditioning.</p>
              <a href="#" class="btn btn-link-light"> <span class="titleoffitness">HIIT</span> <span class="learnmore">LEARN MORE </span> <svg xmlns="http://www.w3.org/2000/svg" width="14" height="11" viewBox="0 0 14 11" fill="none">
                <path d="M8 1.5L12 5.5M12 5.5L8 9.5M12 5.5L0 5.5" stroke="CurrentColor" stroke-width="1.5"></path>
              </svg></a>
            </div>
            <div class="fitness__right-child-col fitness__right-child-col-3">
              <h3>RIDE</h3>
              <p>Race past your goals and lose yourself in the music.</p>
              <a href="#" class="btn btn-link-light"> <span class="titleoffitness"> RIDE </span> <span class="learnmore">LEARN MORE </span> <svg xmlns="http://www.w3.org/2000/svg" width="14" height="11" viewBox="0 0 14 11" fill="none">
                <path d="M8 1.5L12 5.5M12 5.5L8 9.5M12 5.5L0 5.5" stroke="CurrentColor" stroke-width="1.5"></path>
              </svg></a>
            </div>
            
          </div>
        </div>
      </div>
      </div>
    </div>


    <div class="letest_offer">
        <div class="letest__inner">
          <div class="section-title-container">
                <div class="title-wrap">
                  <h6 class="h6">LATEST OFFERS</h6>
                  <h2 class="h2">GET IN ON THE ACTION</h2>
                </div>
          </div>
          <div class="letest__prodcuts-container">
            <div class="letest__products">
              <div class="letest__prodcuts-items">
                <div class="letest__product-img-wrapper">
                  <img src="https://cdn.shopify.com/s/files/1/0714/1251/5036/files/product-1.webp?v=1724186836" alt="">
                </div>
                <div class="letest__product-content-wrapper">
                  <h5>INTRO ONE WEEK UNLIMITED</h5>
                  <p>Sign up for an Intro One-Week Unlimited pass and get $100 off your first month's membership.</p>
                  <div class="letest__event-location-wrap h6"><span class="ev-location">Location: Front/Spadina &amp; Yonge/Shuter</span><span class="ev-date">Valid August 8 - September 30, 2024</span></div>
                </div>
              </div>
              <div class="letest__prodcuts-items">
                <div class="letest__product-img-wrapper">
                  <img src="https://cdn.shopify.com/s/files/1/0714/1251/5036/files/product-2.webp?v=1724186836" alt="">
                </div>
                <div class="letest__product-content-wrapper">
                  <h5>INTRO ONE WEEK UNLIMITED</h5>
                  <p>Sign up for an Intro One-Week Unlimited pass and get $100 off your first month's membership.</p>
                
                  <div class="letest__event-location-wrap h6"><span class="ev-location">Location: Front/Spadina &amp; Yonge/Shuter</span><span class="ev-date">Valid August 8 - September 30, 2024</span></div>
                </div>
              </div>
              <div class="letest__prodcuts-items">
                <div class="letest__product-img-wrapper">
                  <img src="https://cdn.shopify.com/s/files/1/0714/1251/5036/files/product-3.webp?v=1724186836" alt="">
                </div>
                <div class="letest__product-content-wrapper">
                  <h5>INTRO ONE WEEK UNLIMITED</h5>
                  <p>Sign up for an Intro One-Week Unlimited pass and get $100 off your first month's membership.</p>
                  <div class="letest__event-location-wrap h6"><span class="ev-location">Location: Front/Spadina &amp; Yonge/Shuter</span><span class="ev-date">Valid August 8 - September 30, 2024</span></div>
                  </div>
              </div>
              <div class="letest__prodcuts-items">
                <div class="letest__product-img-wrapper">
                  <img src="https://cdn.shopify.com/s/files/1/0714/1251/5036/files/product-4.webp?v=1724186835" alt="">
                </div>
                <div class="letest__product-content-wrapper">
                  <h5>INTRO ONE WEEK UNLIMITED</h5>
                  <p>Sign up for an Intro One-Week Unlimited pass and get $100 off your first month's membership.</p>
                  <div class="letest__event-location-wrap h6"><span class="ev-location">Location: Front/Spadina &amp; Yonge/Shuter</span><span class="ev-date">Valid August 8 - September 30, 2024</span></div>
                 </div>
              </div>
              
            </div>
          </div>
        </div>
    </div>



{% schema %}
  {
    "name": "Banner Video",
    "settings": [],
    "presets": [
      {
        "name": "Banner Video"
      }
    ]
  }
{% endschema %}